<ion-view view-title="新闻">
  <ion-content class="padding">
    <ion-slide-box does-continue="true" show-pager="true" auto-play="true" active-slide="index" pager-click="go(index)">
      <ion-slide>
        <img src="http://n.sinaimg.cn/sports/20160105/GvKc-fxneefv9068708.jpg">
      </ion-slide>
      <ion-slide>
        <img src="http://n.sinaimg.cn/sports/20160105/SEYu-fxnerek0970022.jpg">
      </ion-slide>
      <ion-slide>
        <img src="http://n.sinaimg.cn/sports/20160105/kpyn-fxneefu2293236.jpg">
      </ion-slide>
    </ion-slide-box>
    <div class="list card">
      <div class="item item-divider">今日数据趣谈:石佛越天勾 格林平勇士56年纪录</div>
      <div class="item item-body">
        <div>
          德雷蒙德-格林连续第3场拿下三双（13分15个篮板10次助攻），成为勇士队史第2位连续3场三双的球员。<a href="#">[详细]</a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">今日神吐槽:76人提前得到状元 波波带队四部曲</div>
      <div class="item item-body">
        <div>
          吐槽不停，欢乐不止！新浪NBA神吐槽栏目继续登场！波波的打球方式就是先用防守防死你！再用进攻打爆你！最后用替补侮辱你！赛后再用未来是你的调戏你。<a href="#">[详细]</a>
        </div>
      </div>
    </div>
    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="delorean.jpg">
        <p>
          菜鸟教程 -- 学的不仅是技术，更新梦想！<br>
          菜鸟教程 -- 学的不仅是技术，更新梦想！<br>
        </p>
        <p>
          <a href="#" class="subdued">1 喜欢</a>
          <a href="#" class="subdued">5 评论</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          喜欢
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox-working"></i>
          评论
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          分享
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
